* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background: #1B0029;
    color: white;
    align-items: center;
    justify-content: center;
}

#logo {
    margin-bottom: 26px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    color: white;
}

#titulo {
    font-size: 36px;
    margin-bottom: 18px;
    color: white;
    text-align: center;
}

#corpo {
    display: flex;
    flex-direction: column;
    background-color: #7c098b;
    padding: 36px 28px;
    border-radius: 18px;
    opacity: 0.93;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 420px;
    margin: 0 auto;
}

label{
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: bold;
}

input, select {
    width: 320px;
    height: 36px;
    margin-bottom: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background-color: #fff;
    color: #000;
}

button{
    width: 160px;
    height: 40px;
    background-color: #550560;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#botao-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100%;
}

#h2-edicao{
    font-size: 28px;
    color: white;
    text-align: center;
    margin-top: -6px;
}

.link-pagina{
    margin-top: 22px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 22px;
    transition: color 0.3s ease;
    background-color: #e101ff;
    padding: 12px;
    border-radius: 16px;
    transition: background-color 0.5s ease;
}

.link-pagina:hover{
    background-color: #550560;
    text-shadow: 5px 5px 40px #E72FFF;
}
a{
    text-decoration: none;
}